body {
    min-height: 100vh;
    display: grid;
    gap: 1em;
    margin: 0;
    justify-content: center;
    align-items: center;
}

header {
    justify-self: center;
}

nav > ul {
    display: flex;
    list-style: none;
    gap: 1em;
    justify-content: center;
}

footer {
    border: 1px solid #bbb;
    padding: .5em;
}